.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
  margin: 20px;
  width: 60%;
  min-height: 60vh;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 1px;
  border: 2px solid transparent;
}

.filled-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid rgb(183, 167, 141);
  border-radius: 5px;
  background-color: rgb(236, 209, 165);
  color: rgb(46, 42, 38);
}
